<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{homepage.title})"></head>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/route.css}"/>
</head>

<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div style="width: 100%; height: 700px" id="map"></div>

<div id="wrapper">
    <div id="div1" style="visibility: hidden">€500 extra cost<br/>
        Truck one redirected around traffic jam in Brussels
    </div>
    <div id="div2" style="visibility: hidden">€268 extra cost<br/>
    Truck one sent immediately home (because of driver times), second truck redirected after inital delivery to compensate for truck one's delay
    </div>
    <div id="div3" style="visibility: hidden">€309 extra cost<br/>
    Truck one sent home after first delivery. A third truck is dispatched to get the package not done by truck one.
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var testAttr=/*[[${runningTest}]]*/;
    /*]]>*/
</script>

<script th:src="'/js/HereTest.js'" type="text/javascript" charset="utf-8"></script>

</body>
</html>