<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{homepage.title})"></head>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/route.css}"/>
</head>

<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div style="width: 100%; height: 700px" id="map"></div>

<div style="position: relative">
    <img alt="Dynafleet" th:src="@{/images/dynafleet.png}" style="position: absolute; bottom: 8px; right: 5px; width: 8%; height-max: 100px"/>
</div>

<div id="wrapper">
    <div id="div1" style="visibility: hidden">
        <span style="position:relative; max-width:75%; padding-left: 5px; top: 5%">
            <p style="font-weight: bold; font-size: 18px">Alternative 1</p>
            &#x2714; Truck 1 takes alternative route<br/>
            &#x2714; Delay at destination<br/>
            &#x2714; Exceeds driving hours<br/>
        </span>
        <span style="position:relative; top:30%; left: 7%; font-size:18px; padding: 12px; border-radius: 15px; border: 3px solid red; height: 55px">
            + €500
        </span>
    </div>
    <div id="div2" style="visibility: hidden">
        <span style="position:relative; max-width:75%; padding-left: 5px; top: 5%">
            <p style="font-weight: bold; font-size: 18px">Alternative 2</p>
            &#x2714; Truck 1 re-route via Antwerp<br/>
            &#x2714; Delay at destination<br/>
            &#x2714; Truck 2 handles task 2<br/>
        </span>
        <span style="position:relative; top:30%; left: 7%; font-size:18px; padding: 12px; border-radius: 15px; border: 3px solid #00ff00; height: 55px">
            + €268
        </span>
    </div>
    <div id="div3" style="visibility: hidden">
        <span style="position:relative; max-width:75%; padding-left: 5px; top: 5%">
            <p style="font-weight:bold; font-size: 18px">Alternative 3</p>
            &#x2714; Truck 1 re-route via Antwerp<br/>
            &#x2714; Delay at destination<br/>
            &#x2714; Truck 3 handles task 2<br/>
        </span>
        <div style="position:relative; top:30%; left: 7%; font-size:18px; padding: 12px; border-radius: 15px; border: 3px solid blue; height: 55px">
            + €309
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var testAttr=/*[[${runningTest}]]*/;
    /*]]>*/
</script>

<script th:src="'/js/HereTest.js'" type="text/javascript" charset="utf-8"></script>

</body>
</html>